whisper-dots {
  user-select: none;

  & input {
    display: none;

    &:checked ~ whisper-content {
      display: inline;
    }
  }

  & label {
    background-color: #333;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.2em 0.8em;
    position: relative;
    white-space: nowrap;

    @media (min-width: 500px) {
      font-size: 0.8em;
      padding: 0.01em 0.5em 0.3em;
    }

    @media (min-width: 1000px) {
      font-size: 0.6em;
      padding: 0.05em 0.5em 0.3em;
      top: -0.2em;
    }

    &::after {
      content: '• • •';
    }
  }

  & whisper-content,
  & div {
    display: none;
    user-select: auto;
  }
}
