[data-whisper] {
  cursor: pointer;
  position: relative;

  &:hover {
    &::before {// Arrow
      @media (min-width: 900px) {
        border-color: #333 transparent;
        border-style: solid;
        border-width: 0.4em 0.4em 0;
        bottom: 1em;
        content: "";
        cursor: default;
        display: block;
        left: 1em;
        position: absolute;
        z-index: 99;
      }//@media
    }//::before

    &::after {// Tooltip
      background: #333;
      border-radius: 4px;
      bottom: 1.35em;
      color: white;
      content: attr(data-whisper);
      cursor: default;
      display: block;
      left: -5em;
      padding: 0.3em 1em;
      position: absolute;
      white-space: nowrap;
      z-index: 100;

      @media (max-width: 900px) {
        font-size: 1.2em;
        height: 6em;
        left: 50%;
        margin-left: -30%;
        position: fixed;
        text-align: center;
        top: 4em;
        white-space: normal;
        width: 50%;
      }//@media
    }//:after
  }//:hover
}//[data-whisper]

[data-whisper-mobile='bottom'] {
  &:hover {
    &::after {
      @media (max-width: 900px) {
        bottom: 4em;
        top: auto;
      }//@media
    }//::after
  }//:hover
}//[data-whisper-mobile='bottom']
